<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Pensamentos</title>
</head>
<body>

        <nav class="nav-bar">

            <div class="img-navbar">
                <img src="img/4728251 1.png" alt="">
            </div>

            <div class="bar-info">
                <a href="#" class="pens">Pensamentos</a>
                <a href="#" class="nom">Entrar</a>
                <a href="#" class="nom">Registrar</a>
            </div>

        </nav>

    {{{body}}}

    {{!-- <footer>
        <p>Pensadores@2023</p>
    </footer>
     --}}
</body>
</html>